@import "react-slideshow-image/dist/styles.css";


.App {
  text-align: center;
}

.navbar{
  display: flex;
  border: 1px solid black;
  justify-content: center;

}

.logo{
  border: 1px solid black;
  width:150px;
}

.nav-items-container{
  display: flex;
  border: 1px solid black;
  justify-items: center;
  padding: 0 1rem;
}

.nav_item{
  display: flex;
  border: 1px solid black;
  padding: 0 1rem;

}

.nav_item:hover{
  background-color: rgb(181, 181, 181);
  cursor: pointer;
}

.slideShow{
  border: 1px solid black
}


Result Skip Results Iframe
EDIT ON
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  text-align: center;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin:auto;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideShow_img{
  display: flex;
  text-align: center;
  width: 60%;
}